<div *ngIf="isAdmin" class="main-content-home-page">


  <div class="partOneIntroduction" style="width: 100%">
    <h1 class="broken-Auth">احراز هویت شکسته</h1>
    <h1 class="erae">ارائه دهنده:</h1>
    <h1 class="saleh">صالح میرمحمدرضایی</h1>
  </div>
  <div class="SPAN" style="height: 50px; width: 50px;"></div>


  <div class="partOneIndex row" style="height: 100vh; width: 100%;">
      <div class="col-5 slide3-text-span" data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine">
        <div class="div-header-index">
          <h1 class="header-index">سر فصل مطالب</h1>
        </div>
        <div>
          <h1 class="index-element">احراز هویت</h1>
          <h1 class="index-element">نشست و مدیریت نشست</h1>
          <h1 class="index-element">احراز هویت شکسته</h1>
          <h1 class="index-element">نمونه های احراز هویت شکسته</h1>
          <h1 class="index-element">راهکار های مقابله</h1>
        </div>
      </div>

      <div class="col-7 image_index" data-aos="fade-left"
           data-aos-offset="300"
           data-aos-easing="ease-in-sine">
        <img src="assets/images/slide2.png" alt="" style="height: 100vh;margin-right: 50px;">
      </div>
  </div>
  <div class="SPAN" style="height: 30px; width: 50px;"></div>


  <div class="partTwo row" style="height: 100vh;  width: 100%;">
      <div class="col-7 image_slide2" data-aos="fade-right"
           data-aos-offset="300"
           data-aos-easing="ease-in-sine">
        <img src="assets/images/slide91.jpg" alt="" style="height: 100%;margin-left: 100px; width: 80%;">
      </div>

      <div class="col-5 slide2-text-span" data-aos="fade-left"
           data-aos-offset="300"
           data-aos-easing="ease-in-sine">
        <h1 class="headre-slide">احراز هویت</h1>
        <span>کاربر برای آنکه بتواند نقش خود را در یک سیستم شبکه یا وب اجرا نماید،
          باید ابتدا فرایند احراز هویت را برای تشخیص هویت خود انجام دهد.
          ازآنجایی‌که احراز هویت یکی از مهم‌ترین بخش‌های هر وب‌سایت است،
          باید به این مسئله اهمیت فراوانی در طراحی وب داده شود.
          در اصطلاح به مرحله‌ای از ورود که هویت کاربر توسط سیستم تائید
          و احراز می‌گردد، احراز هویت یا Authentication  گفته می‌شود.</span>
      </div>
  </div>
  <div class="SPAN" style="height: 30px;"></div>


  <div class="partThree row" style="height: 100vh;  width: 100%;">

      <div class="col-5 slide3-text-span" data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine">
        <div>
          <h1 class="headre-slide">نشست و مدیریت نشست</h1>
          <span>بعد از برقراری یک ارتباط دوطرفه بین سیستم‌ها،
          مجموعه‌ای از عملیات‌ها و فرآیندها آغاز می‌گردد
          و بعد از آن یکسری تراکنش‌ها صورت می‌پذیرد
          و سپس آن مجموعه فرایندها در روالی همگام
          و هماهنگ و طبق توافق طرفین اتمام می‌یابد.
          در اصطلاح به این مجموعه عملیات‌ها و فرآیندها،
          نشست یا Session  گفته می‌شود.</span>
        </div>
        <div style="height: 50px"></div>
        <div style="text-align: center">
          <img src="assets/images/img2.png" alt="" style="">
        </div>
        <div style="text-align: center">
          <h1 style="font-family: B nazanin;font-size: large;">تصویر 1: فرآیند احراز هویت و ایجاد نشست</h1>
        </div>

      </div>

      <div class="col-7 image_slide3" data-aos="fade-left"
           data-aos-offset="300"
           data-aos-easing="ease-in-sine">
        <img src="assets/images/slide4.png" alt="" style="height: 100vh;margin-left: 40px;">
      </div>
  </div>
  <div class="SPAN" style="height: 30px;"></div>


  <div class="partFour" style="height: 100vh;  width: 100%;">
      <div class="image_slide4"  data-aos="zoom-in"
           data-aos-offset="300"
           data-aos-easing="ease-in-sine">
        <img src="assets/images/slide5.png" alt="">
      </div>

      <div class="slide4-text-span" data-aos="zoom-out-up">
        <h1 class="headre-slide4">احراز هویت شکسته</h1>
        <div class="row">
          <div class="col-4"></div>
          <div class="col-4">
            <span>توابع مربوط به احراز هویت و مدیریت نشستی که به درستی پیاده‌سازی نشده باشند
          به مهاجمان این امکان را می‌دهد که به پسورد کاربران یا شناسه نشست آن ها درسترسی پیدا کنند
          که در این صورت مهاجمان می‌توانند از دیگر خطاهای موجود در پیاده‌سازی سوء‌استفاده کنند
          و هویت کاربران را به صورت موقت یا دائمی بدست آورند.</span>
          </div>
          <div class="col-4"></div>

        </div>
      </div>
  </div>
  <div class="SPAN" style="height: 30px;"></div>


  <div class="partFive row" style="height: 100vh; width: fit-content">
      <div class="col-1"></div>
      <div class="col-6 image_slide5" data-aos="fade-left" data-aos-offset="300" data-aos-easing="ease-in-sine">
        <img src="assets/images/slide90.jpg" alt="" style="height: 100vh; width: 95%">
      </div>
      <div class="col-1"></div>
      <div class="col-4" style="margin-left: -45px;"  data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine">
        <h1 class="headre-slide">نمونه های احراز هویت شکسته</h1>
        <div style="height: 50px">
        </div>
        <div style="text-align: right">
          <h1 style="font-family: B nazanin;font-size: xx-large; text-align: right; direction: rtl">نمونه 1:	قرار دادن شناسه نشست در URL</h1>
        </div>
        <div style="text-align: center">
          <img src="assets/images/img-url.png" alt="" style="">
        </div>
        <div style="text-align: center">
          <h1 style="font-family: B nazanin;font-size: large; direction: rtl">تصویر 2: یک نمونه اشتباه از url</h1>
        </div>
        <div style="height: 50px"></div>
        <div style="text-align: right">
          <h1 style="font-family: B nazanin;font-size: xx-large; text-align: right; direction: rtl">نمونه 2:	از رده خارج نکردن نشست‌های غیر فعال</h1>
        </div>
        <div style="text-align: center">
          <img src="assets/images/img3.png" alt="" style="">
        </div>
        <div style="text-align: center">
          <h1 style="font-family: B nazanin;font-size: large; direction: rtl">تصویر 3: یک نمونه از توکن منقضی شده</h1>
        </div>
        <div style="height: 50px"></div>
        <div style="text-align: right">
          <h1 style="font-family: B nazanin;font-size: xx-large; text-align: right; direction: rtl">نمونه 3:	ذخیره پسورد به روش متن ساده و بدون رمزگذاری</h1>
        </div>
        <div style="text-align: center">
          <img src="assets/images/img4.png" alt="" style="">
        </div>
        <div style="text-align: center">
          <h1 style="font-family: B nazanin;font-size: large; direction: rtl">تصویر 4: یک نمونه اشتباه از ذخیره پسورد ها در دیتابیس</h1>
        </div>
      </div>

  </div>
  <div class="SPAN" style="height: 30px;"></div>


  <div class="row" style="height: 100vh;background-color: #e9f5ff;  width: 100%;">
    <div class="col-5">
      <div style="height: 50px;"></div>
      <div>
        <h1 style="text-align: center; font-family: B titr;font-size: -webkit-xxx-large;">راهکار های مقابله</h1>

      </div>
      <div style="height: 150px;"></div>
      <div style="text-align: justify;font-family: B Nazanin;direction: rtl;line-height: 174%; font-size: xx-large;margin: auto; padding-left: 125px;">

        <h1 style="font-family: B Nazanin;font-size: 30px;">جلوگیری از استفاده پسورد هایی با ساختار ساده</h1>
        <h1 style="font-family: B Nazanin;font-size: 30px;">ذخیره پسورد کاربران در دیتابیس به صورت رمز‌نگاری شده</h1>
        <h1 style="font-family: B Nazanin;font-size: 30px;">حذف نشست های غیرفعال از دیتابیس</h1>
        <h1 style="font-family: B Nazanin;font-size: 30px;">محدود کردن تعداد ورود های ناموفق</h1>
        <h1 style="font-family: B Nazanin;font-size: 30px;">استفاده از یک فریم‌ورک مطمئن جهت پیاده‌سازی مدل کاربری</h1>
      </div>
    </div>
    <div class="col-7" style="text-align: center">
      <img src="assets/images/slide80.png" alt="" style="height: 100vh;">
    </div>
  </div>
  <div class="SPAN" style="height: 30px;"></div>


  <div class="partOneIntroduction" style=" width: 100%; text-align: center;" data-aos="fade-up" data-aos-anchor-placement="center-bottom">
      <h1 style="font-family: B Titr; text-align: center; font-size: 36px;padding-top: 30rem;">با تشکر</h1>
    <button routerLink="/profile" class="return-main-page-btn">بازگشت</button>
  </div>

</div>

<div *ngIf="!isAdmin" style="height: 100vh;background-color: #455a64; text-align: center;">
  <img src="../../../assets/images/403.png" alt="">
  <div>
    <button routerLink="/"  class="return-main-page-btn-forbidden">بازگشت</button>
  </div>
</div>

